<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" >
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Type" content="text/html;"/>
	
	<title>Sistema de Agenda Escolar - Lista de Responsavel</title>
</head>

<body>
		
	<!-- Conteúdo -->
	<div layout:fragment="content">
	
		<h3>Lista de Responsaveis</h3>
		<table class="table table-hover">
			<thead class="thead-light">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nome</th>
					<th scope="col">Telefone</th>
					<th>#</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="responsavel : ${responsaveis}">
					<td th:text="${responsavel.id}"/>
					<td>
					<a th:href="@{/responsavel/edit/{id}(id=${responsavel.id})}"th:text="${responsavel.nome}"></a>
					</td>					
					<td th:text="${responsavel.telefone.celular}"></td>
					 <td><a th:href="@{/responsavel/delete/{id}(id=${responsavel.id})}"
                      th:attr="aria-label= ${'Delete' + responsavel.id}" class="responsavel-link">Delete
                        </a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>