<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" >
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Type" content="text/html;"/>
</head>

<body>
	<!-- Conteúdo -->	
	<div layout:fragment="content">
		<h3>Listar Turmas</h3>
		
		<table class="table table-hover">
			<thead class="thead-light">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Descrição</th>
					<th>#</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="turma : ${turmas}">
					<td th:text="${turma.id}"/>
					<td>
					<a th:href="@{/turma/edit/{id}(id=${turma.id})}"th:text="${turma.descricao}"></a>
					</td>					
					
					 <td><a th:href="@{/turma/delete/{id}(id=${turma.id})}"
                      th:attr="aria-label= ${'Delete' + turma.id}" class="turma-link">Delete
                        </a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>